<!DOCTYPE html>
<html>
<title>Home: RFID transactions Management</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5 {
        font-family:Arial, Helvetica, sans-serif;
    }
</style>

<body class="w3-light-grey">

    <!-- Top container -->
    <%- include("navbar", {})  %> 

    <!-- Sidebar/menu -->
    <%- include("sidebar", {}) %>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-half">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left"><i class="fa fa-credit-card w3-xxlarge"></i></div>
                    <div class="w3-right">
                        <h1><%- stats.numberOfCards %> </h1>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>TOTAL CARDS</h4>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left"><i class="fa fa-money w3-xxlarge"></i></div>
                    <div class="w3-right">
                        <h1><%- stats.numberOfTransactions %> </h1>
                    </div>
                    <div class="w3-clear"></div>
                    <h4>TOTAL TRANSACTIONS</h4>
                </div>
            </div>
        </div>
        
        <br><br>

        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-container">
                    <h3 style="text-align: center;">Latest Transactions</h3>
                    <br>
                    <table class="w3-table w3-striped w3-white" id="transactions_table">
                        <thead class="w3-blue">
                            <th>ID</th>
                            <th>Card UUID</th>
                            <th>Initial Balance</th>
                            <th>Transaport Fare</th>
                            <th>New Balance</th>
                            <th>Date</th>
                        </thead>
                        <% stats.latestTransactionsRows.forEach(transaction=> { %>
                            <%-"<tr><td>"+transaction.transactionId+"</td><td>"+transaction.cardUUID+"</td><td>"+transaction.initialBalance+"</td><td>"+transaction.transportFare+"</td><td>"+transaction.newBalance+"</td><td>"+ moment(transaction.transactionDate).format( 'MMM DD YYYY HH:MM:SS a')+"</td></tr>" %> 
                        <% }); %>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <center><a href="/all-transactions" class="w3-text-blue" style="text-decoration: none; font-size: 110%;">View All transactions</a></center>
        <hr>
        <br><br><br><br>

        <!-- Footer -->
        <%- include("footer", {})  %>

        <!-- End page content -->
    </div>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <header class="w3-container"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-display-topright w3-large w3-text-red"><b>&times;</b></span>
            <h3 class="w3-text-green">New Transaction</h3>
          </header>
          <div class="w3-container">
            <br>
            <table class="w3-table w3-striped w3-white" id="transactions_table_new">
            </table>
            <br>
          </div>
        </div>
      </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");
        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

<script src="/static/js/socket.io.js"></script>
<script>
    let main_table = document.getElementById("transactions_table")
    let modal_table = document.getElementById("transactions_table_new")
    const socket = io("http://localhost:3000");
    socket.on("NEW_TRANSACTION", (data)=> {
        let tr = document.createElement("tr")
        let th = document.createElement("thead")
        tr.innerHTML = `<td>${data.transaction.transactionId}</td><td>${data.transaction.cardUUID}</td><td>${data.transaction.initialBalance}</td><td>${data.transaction.transportFare}</td><td>${data.transaction.newBalance}</td><td>${data.transaction.transactionDate}</td>`;
        main_table.prepend(tr)
        let tr2 = document.createElement("tr");
        tr2.innerHTML = `<td>${data.transaction.transactionId}</td><td>${data.transaction.cardUUID}</td><td>${data.transaction.initialBalance}</td><td>${data.transaction.transportFare}</td><td>${data.transaction.newBalance}</td><td>${data.transaction.transactionDate}</td>`;
        modal_table.innerHTML = `
                <thead class="w3-blue">
                    <th>ID</th>
                    <th>Card UUID</th>
                    <th>Initial Balance</th>
                    <th>Transaport Fare</th>
                    <th>New Balance</th>
                    <th>Date</th>
                </thead>
        `
        modal_table.append(tr2)

        document.getElementById('id01').style.display='block'
    })
</script>

</body>

</html>